<h1 class="text-center"> Find a van. Live your dream. </h1>


<div class="vans-container">
  <div class="vans-card">
    <% @vans.each do |van| %>
      <div class="card-product" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path van.photo.key %>')">
        <div class="card-product-infos">
          <p><%= van.brand %></p>
          <h2><%= van.model %></h2>
          <p><%= van.address %></p>
          <p><%= van.price %></p>
          <%= link_to "View Van", van_path(van.id), class: "btn btn-flat" %>
        </div>
      </div>
    <% end %>

  </div>
  <div class="map-container" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
