
<div class="show-van"><%= cl_image_tag @van.photo.key %></div>

<% if user_signed_in? && @van.user == current_user  %>
<div class="col text-center">
  <%= link_to  "Edit Listing", edit_van_path, class: "btn btn-warning" %>
  <%= button_to  "Delete Listing", @van, class: "btn btn-warning", method: :delete %>
<% end %>
</div>

<div class="col text-center">
  <%= link_to  "Book now", new_van_reservation_path(@van), class: "btn btn-warning"%>
  <%= link_to  "Home Page", root_path, class: "btn btn-warning" %>
</div>



<%# input images in there as well %>
